<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="/css/font.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
          crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link href="/css/font.css" rel="stylesheet">

  <script>
      $(document).ready(function () {
          $("#btn-list").on("click", function () {
              history.back();
          });
      });

    $(document).ready(function(){
        $("#btn-list").on("click",function(){
            console.log("btnList 누름");
        });
        $("#btn-write").on("click", function(event){
            event.preventDefault();

            let eventContentsCreate = $("#eventContentsCreate").val().trim();
            let eventTitleCreate = $("#eventTitleCreate").val();
            console.log("제목 : " + eventTitleCreate);
            console.log("내용 : " + eventContentsCreate);

            $.ajax({
                url: "/event/write",
                type: "POST",
                data: {"eventTitleCreate": eventTitleCreate , "eventContentsCreate" : eventContentsCreate},
                success: function() {
                    alert("글 작성 완료!");
                    location.href = "/event";
                },
                error: function() {
                    alert("글 작성 실패!");
                }
            });
        });
    });
  </script>
</head>
<body>
<div th:replace="~{/layout/header :: projectheader}"></div>

<main class="container container-sm mt-5" style="width: 800px;">
  <section>

    <form id="frm" action="#" method="post" th:action="@{/event/write}">
      <input type="hidden" id="method" name="_method">

      <div>
        <h5>이벤트</h5>
        <h4 class="mt-5">새 글쓰기</h4>
      </div>

      <div class="container d-flex justify-content-between align-items-center mt-3"
           style="border-style: none; border-radius: 5px; height: 40px;">
        <div class="col-sm-1 text-center align-items-center">제목</div>
        <div class="col-sm-10">
          <input type="text" class="align-items-center eventTitleCreate"
                 style="width: 625px; height: 30px; border-radius: 5px;
                 border: solid 0.5px lightgray;" name="eventTitleCreate" id="eventTitleCreate">
        </div>
      </div>

      <div class=" mt-3 form-floating">
        <textarea class="form-control eventContentsCreate" name="eventContentsCreate" id="eventContentsCreate" style="height: 200px;" placeholder="내용을 입력하세요.">
        </textarea>
        <label for="eventContentsCreate">글 내용</label>
      </div>

      <div class="col-sm m-3 d-flex justify-content-between">
        <button type="button" class="btn btn-secondary" id="btn-list">목록</button>
        <button type="submit" class="btn btn-outline-dark" id="btn-write">게시</button>
      </div>
    </form>
  </section>
</main>

<div th:replace="~{/layout/footer :: projectfooter}"></div>

</body>
</html>