<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="/css/font.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
          crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="/css/font.css">

  <style>
      .star {
          position: relative;
          font-size: 50px;
          color: #ddd;
      }

      .star input {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          opacity: 0;
      }

      .star span {
          width: 0;
          position: absolute;
          left: 0;
          color: gold;
          overflow: hidden;
          pointer-events: none;
      }

      .reviewStar {
          color: gold;
          text-shadow: 1px 1px black;
      }
  </style>
  <script>
      $(document).ready(function () {
          const reviewPlaceIdx = $(".hiddenPlaceIdx").val();
          console.log(reviewPlaceIdx);

          // 리뷰 쓰기
          $(".reviewSubmit").on("click", function () {
              const reviewComment = $("#reviewBox").val();
              const reviewStar = $("#drawStarContainer").val() * 0.5;

              $.ajax({
                  url: `/review/write/${reviewPlaceIdx}/${reviewComment}/${reviewStar}`,
                  type: `get`,
                  data: {
                      "reviewPlaceIdx": reviewPlaceIdx,
                      "reviewComment": reviewComment,
                      "reviewStar": reviewStar
                  },
                  success: function () {
                      alert("리뷰 작성 완료");
                      location.reload();
                  },
                  error: function () {
                      alert("리뷰 작성 실패");
                  }
              })
          });

          // 리뷰 보기
          $.ajax({
              url: `/review/read/${reviewPlaceIdx}`,
              type: 'get',
              success: function (data) {
                  let reviewShowContainer = $(".reviewShowContainer");
                  reviewShowContainer.empty();

                  data.forEach(review => {
                      let fullStars = Math.floor(review.star); // 꽉 찬 별 개수
                      let halfStar = review.star % 1 !== 0 ? 1 : 0; // 반쪽 별 개수
                      let emptyStars = 5 - fullStars - halfStar; // 빈 별 개수

                      let starsHtml = "";
                      for (let i = 0; i < fullStars; i++)
                          starsHtml += `<i class="fa-solid fa-star reviewStar"></i>`; // 꽉 찬 별
                      if (halfStar)
                          starsHtml += `<i class="fa-solid fa-star-half-stroke reviewStar"></i>`; // 반쪽 별
                      for (let i = 0; i < emptyStars; i++)
                          starsHtml += `<i class="fa-regular fa-star reviewStar"></i>`; // 빈 별

                      let html = `<div class="reviewListContainer row py-3">`
                      html += `<input type="hidden" class="reviewIdx" value="${review.reviewIdx}"></input>`
                      html += `<input type="hidden" class="reviewUserIdx" value=${review.reviewUserIdx}></input>`
                      html += `<span><i class="fa-regular fa-user"></i> <span class="reviewUserId">${review.reviewUserName}</span> `;
                      html += ` <span>${starsHtml}</span></span><br>`;
                      html += `<span><span class="reviewComment" style="word-wrap: break-word">${review.comment}</span></span><br>`;
                      html += `<div><button type="button" class="reviewDeleteButton btn btn-outline-danger btn-sm float-end">삭제</button><br></div>`;
                      html += `</div>`

                      reviewShowContainer.append(html);
                  });
              }
          });

          //리뷰 삭제
          $(document).on("click", ".reviewDeleteButton", function () {
              let reviewIdx = $(this).closest(".reviewListContainer").find(".reviewIdx").val();
              console.log("reviewIdx : " + reviewIdx);
              let reviewUserIdx = $(this).closest(".reviewListContainer").find(".reviewUserIdx").val();
              console.log("reviewUserIdx : " + reviewUserIdx);

              $.ajax({
                  url: `/review/delete/${reviewIdx}`,
                  type: `delete`,
                  data: {"reviewUserIdx": reviewUserIdx},
                  success: function () {
                      alert("리뷰 삭제 완료");
                      location.reload();
                  },
                  error: function (xhr) {
                      if (xhr.status === 403) {
                          alert(xhr.responseText);
                      } else {
                          alert("리뷰 삭제 중 오류");
                      }
                  }
              })
          })
      });
  </script>

</head>
<body>
<div th:replace="~{/layout/header :: projectheader}"></div>

<!-- 메인 사진 -->
<section class="container mt-5">
  <div th:each="placeDetail : ${placeDetailList}">
    <div>
      <div class="container">
        <h3 class="mt-3 " style="font-weight: bold;" th:text="${placeDetail.name}">업체 이름</h3>
      </div>

      <div class="mt-3 row justify-content-between align-items-center">
        <div class="mainImage col-2" th:each="placeImage : ${placeDetail.placeImageEntityList}">
          <img class="rounded" th:src="|/${placeImage.imagePath}${placeImage.imageName}|" alt="이미지"
               style="width: 350px; height: 300px;">
        </div>
        <div class="col-7">
          <div class="row" style="margin-bottom: 30px;">
            <div class="col-3 border-end"><i class="fa-solid fa-house"></i> 주소</div>
            <input type="hidden" th:value="${placeDetail.placeIdx}" class="hiddenPlaceIdx">
            <div class="col-auto" th:text="${placeDetail.address}">부산광역시</div>
          </div>
          <div class="row" style="margin-bottom: 30px;">
            <div class="col-3 border-end"><i class="fa-solid fa-dice"></i> 카테고리</div>
            <div class="col-auto" th:text="${placeDetail.category}">방탈출</div>
          </div>
          <div class="row row-cols-3" style="margin-bottom: 20px;">
            <div class="col-3 border-end"><i class="fa-regular fa-clock"></i> 운영시간</div>
            <div class="col-auto" th:text="|개점 : ${placeDetail.openTime}|">개점 : </div>
          </div>
          <div class="row row-cols-3" style="margin-bottom: 30px;">
            <div class="col-3 border-end"></div>
            <div class="col-auto" th:text="|폐점 : ${placeDetail.closeTime}|">폐점 : </div>
          </div>
          <div class="row row-cols-2" style="margin-bottom: 20px;">
            <div class="col-3 border-end"><i class="fa-solid fa-phone"></i> 연락처</div>
            <div class="col-auto" th:text="${placeDetail.phone}">00000000</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- 리뷰 부분 -->
<section class="container mt-5">
  <div style="margin-top: 150px;">
    <div class="row justify-content-between align-items-end border-bottom py-2">
      <div class="col-auto"><h5>리뷰 & 평가</h5></div>
    </div>

    <!--리뷰 내용 보기-->
    <div class="reviewShowContainer">
    </div>

    <!--리뷰 쓰기-->
    <form>
      <input type="hidden" id="rating" name="rating">
      <div class="row">
        <div class="reviewWriteContainer">
          <form action="#" class="reviewForm" id="reviewWrite">
            <!--별 5개. 0 에서 10 까지의 값을 하나씩 출력할 수 있음. range 변형-->
            <div class="star_rating" style="text-align: center">
              <span class="star">★★★★★<span>★★★★★</span>
                <input type="range" oninput="drawStar(this)" value="1" step="1" min="0" max="10" id="drawStarContainer">
              </span>
            </div>
            <!--평가 내용-->
            <div class="row mt-3">
              <textarea class="rounded-2" id="reviewBox" placeholder="리뷰 내용을 작성해주세요."></textarea>
              <div class="text-end py-3">
                <input type="button" class="btn btn-outline-dark reviewSubmit" value="등록">
              </div>
            </div>
          </form>
        </div>
      </div>

      <script>
          const drawStar = (target) => {
              $(`.star span`).css({width: `${target.value * 10}%`});
          }
      </script>
    </form>
  </div>
</section>

<!--<nav class="navbar" id="right-nav">-->
<!--  <div class="rounded float-end" style="width: 170px; padding: 10px; margin-left: 20px;">-->
<!--    <div class="text-center mt-3">-->
<!--      <button type="button" class="border-0 btn btn-danger">-->
<!--        <a href="/templates/board/crewPage.html" class="font-weight-bold text-light text-decoration-none">파티 구함<i-->
<!--            class="fa-solid fa-fire"></i></a>-->
<!--      </button>-->
<!--    </div>-->
<!--    <div class="mt-3">-->
<!--      <p class="text-center mt-4">이런 활동 어떠세요?</p>-->
<!--      <div>-->
<!--        <div>-->
<!--          <img src="/img/climbing.jpg" alt="climbing-img"-->
<!--               style="width: 88px; border-radius: 5px; margin-right: 5px;"></div>-->
<!--        <div>-->
<!--          <a href="#" style="text-decoration: none;">-->
<!--            <span style="font-size: small;">웨이브락 클라이밍 서면점</span></a>-->
<!--          <p style="margin-bottom: 0;"><a href="#" class="text-dark" style="text-decoration: none; font-size: small;"><p-->
<!--              style="margin-bottom: 0;">22:30 영업 종료</p>-->
<!--            <p>부산 진구 부전동</p></a></p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div>-->
<!--        <div>-->
<!--          <img src="/img/climbing.jpg" alt="climbing-img"-->
<!--               style="width: 88px; border-radius: 5px; margin-right: 5px;"></div>-->
<!--        <div>-->
<!--          <a href="#" style="text-decoration: none;">-->
<!--            <span style="font-size: small;">웨이브락 클라이밍 서면점</span></a>-->
<!--          <p style="margin-bottom: 0;"><a href="#" class="text-dark" style="text-decoration: none; font-size: small;"><p-->
<!--              style="margin-bottom: 0;">22:30 영업 종료</p>-->
<!--            <p>부산 진구 부전동</p></a></p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div>-->
<!--        <div>-->
<!--          <img src="/img/climbing.jpg" alt="climbing-img"-->
<!--               style="width: 88px; border-radius: 5px; margin-right: 5px;"></div>-->
<!--        <div>-->
<!--          <a href="#" style="text-decoration: none;">-->
<!--            <span style="font-size: small;">웨이브락 클라이밍 서면점</span></a>-->
<!--          <p style="margin-bottom: 0;"><a href="#" class="text-dark" style="text-decoration: none; font-size: small;"><p-->
<!--              style="margin-bottom: 0;">22:30 영업 종료</p>-->
<!--            <p>부산 진구 부전동</p></a></p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div>-->
<!--        <div>-->
<!--          <img src="/img/climbing.jpg" alt="climbing-img"-->
<!--               style="width: 88px; border-radius: 5px; margin-right: 5px;"></div>-->
<!--        <div>-->
<!--          <a href="#" style="text-decoration: none;">-->
<!--            <span style="font-size: small;">웨이브락 클라이밍 서면점</span></a>-->
<!--          <p style="margin-bottom: 0;"><a href="#" class="text-dark" style="text-decoration: none; font-size: small;"><p-->
<!--              style="margin-bottom: 0;">22:30 영업 종료</p>-->
<!--            <p>부산 진구 부전동</p></a></p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->

<div th:replace="~{/layout/footer :: projectfooter}"></div>
</body>
</html>