<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="/css/font.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
          crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <style>
    /* 버튼 위치 조정 */
    .custom-prev-btn, .custom-next-btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 50px;
      height: 50px;
      background-color: rgba(0, 0, 0, 0);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .custom-prev-btn {
      left: -60px; /* 왼쪽 버튼 위치 */
    }

    .custom-next-btn {
      right: -60px; /* 오른쪽 버튼 위치 */
    }



    .carousel-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 22%; /* 크기 확실히 조정 */
    }

    .carousel-box img {
      width: 100%; /* 부모 요소에 맞게 */
      height: 200px; /* 동일한 높이 설정 */
      object-fit: fill; /* 비율 유지하면서 꽉 채우기 */
      border-radius: 10px; /* 둥근 모서리 */
    }

    .caption {
      text-align: center;
      margin-top: 10px;
    }

    .caption h3 {
      font-size: 20px; /* 글자 크기 조정 */
      font-weight: bold;
      margin-bottom: 5px;
    }

    .caption p {
      margin-top: 15px;
      font-size: 14px;
      color: #666;
    }


  </style>
</head>
<body>
<div th:replace="~{/layout/header :: projectheader}"></div>

<section>
  <div class="container mt-5">
    <img src="/img/recommand/withLover.jpg" class="d-block w-100" style="height: 500px;" alt="캐러셀 이미지1">
  </div>

  <div class="container mt-5 font1">
    <h1>Category</h1>
  </div>
  <div class="container mt-5 p-3 mb-5">
    <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="d-flex justify-content-between">

            <div class="carousel-box" th:each="gonBang : ${gonBangList}">
              <a th:href="|/place/detail/${gonBang.placeIdx}|">
                <div th:each="gonBangImage : ${gonBang.placeImageEntityList}">
                  <img th:src="|/${gonBangImage.imagePath}${gonBangImage.imageName}|" class="d-block rounded" alt="1">
                </div>
              </a>
              <div class="caption">
                <h3>공방</h3>
                <p>자세한 내용은 클릭 !</p>
              </div>
            </div>

            <div class="carousel-box" th:each="baking : ${bakingList}">
              <a th:href="|/place/detail/${baking.placeIdx}|">
                <div th:each="bakingImage : ${baking.placeImageEntityList}">
                  <img th:src="|/${bakingImage.imagePath}${bakingImage.imageName}|" class="d-block rounded" alt="1">
                </div>
              </a>
              <div class="caption">
                <h3 class="fontCard">베이킹클래스</h3>
                <p>자세한 내용은 클릭 !</p>
              </div>
            </div>

            <div class="carousel-box" th:each="loogi : ${loogiList}">
              <a th:href="|/place/detail/${loogi.placeIdx}|">
                <div th:each="loogiImage : ${loogi.placeImageEntityList}">
                  <img th:src="|/${loogiImage.imagePath}${loogiImage.imageName}|" class="d-block rounded" alt="1">
                </div>
              </a>
              <div class="caption">
                <h3 class="fontCard">루지</h3>
                <p>자세한 내용은 클릭 !</p>
              </div>
            </div>

            <div class="carousel-box" th:each="studio : ${studioList}">
              <a th:href="|/place/detail/${studio.placeIdx}|">
                <div th:each="studioImage : ${studio.placeImageEntityList}">
                  <img th:src="|/${studioImage.imagePath}${studioImage.imageName}|" class="d-block rounded" alt="1">
                </div>
              </a>
              <div class="caption">
                <h3 class="fontCard">무인스튜디오</h3>
                <p>자세한 내용은 클릭 !</p>
              </div>
            </div>

          </div>
        </div>
        <div class="carousel-item">
          <div class="d-flex justify-content-between">

            <div class="carousel-box" th:each="zipLine : ${zipLineList}">
              <a th:href="|/place/detail/${zipLine.placeIdx}|">
                <div th:each="zipLineImage : ${zipLine.placeImageEntityList}">
                  <img th:src="|/${zipLineImage.imagePath}${zipLineImage.imageName}|" class="d-block rounded" alt="1">
                </div>
              </a>
              <div class="caption">
                <h3 class="fontCard">짚라인</h3>
                <p>자세한 내용은 클릭 !</p>
              </div>
            </div>

            <div class="carousel-box" th:each="themePark : ${themeParkList}">
              <a th:href="|/place/detail/${themePark.placeIdx}|">
                <div th:each="themeParkImage : ${themePark.placeImageEntityList}">
                  <img th:src="|/${themeParkImage.imagePath}${themeParkImage.imageName}|" class="d-block rounded" alt="1">
                </div>
              </a>
              <div class="caption">
                <h3 class="fontCard">놀이동산</h3>
                <p>자세한 내용은 클릭 !</p>
              </div>
            </div>

            <div class="carousel-box" th:each="coinSing : ${coinSingList}">
              <a th:href="|/place/detail/${coinSing.placeIdx}|">
                <div th:each="coinSingImage : ${coinSing.placeImageEntityList}">
                  <img th:src="|/${coinSingImage.imagePath}${coinSingImage.imageName}|" class="d-block rounded" alt="1">
                </div>
              </a>
              <div class="caption">
                <h3 class="fontCard">코인노래방</h3>
                <p>자세한 내용은 클릭 !</p>
              </div>
            </div>

            <div class="carousel-box" th:each="animal : ${animalList}">
              <a th:href="|/place/detail/${animal.placeIdx}|">
                <div th:each="animalImage : ${animal.placeImageEntityList}">
                  <img th:src="|/${animalImage.imagePath}${animalImage.imageName}|" class="d-block rounded" alt="1">
                </div>
              </a>
              <div class="caption">
                <h3 class="fontCard">동물카페</h3>
                <p>자세한 내용은 클릭 !</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button class="carousel-control-prev custom-prev-btn" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" style="filter: invert(100%);" aria-hidden="true"></span>
      </button>
      <!-- 다음 버튼 -->
      <button class="carousel-control-next custom-next-btn" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" style="filter: invert(100%);" aria-hidden="true"></span>
      </button>
    </div>
  </div>

  <!--  아이콘 -->
  <div th:replace="~{/layout/header :: cateIcon}"></div>
</section>


<div th:replace="~{/layout/footer :: projectfooter}"></div>
</body>
</html>