<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>내가 작성한 게시물 - Test</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="/css/font.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <style>
        .page-item.active .page-link {
            background-color: black;
            color: white;
            border-color: black;
        }

        .page-item .page-link {
            color: black;
        }
    </style>

    <style>
        .post-box {
            width: 100%;
            border: 1px solid #000;
            padding: 15px;
            min-height: 200px;
            overflow-x: auto;

        }


    </style>
</head>
<body>
<div th:replace="~{/layout/header :: projectheader}"></div>

<main class="container mt-5">
    <h3 class="text-center myPageFont">내가 작성한 게시물</h3>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="post-box mt-5">
                <h5 class="myPageFont">게시글</h5>
                <ul style="list-style: none; padding-left: 0">
                    <li>
                        <div class="container row d-flex justify-content-between border-bottom"
                             style="padding:20px 0;">
                            <div class="col-2 align-items-center bdFont">번호</div>
                            <div class="col-4 align-items-center bdFont" style="font-weight: bold;">
                                <a href="#" class="text-dark bdFont" style="text-decoration: none;">제목</a>
                            </div>
                            <div class="col-6 bdFont" style="text-align: center;">작성일</div>
                        </div>
                    </li>
                    <li>
                        <div class="container row d-flex justify-content-between border-bottom"
                             style="padding:20px 0;" th:each="post : ${posts}">
                            <div class="col-2 align-items-center findNoticeIdx" th:value="${post.board_idx}" th:text="${post.board_idx}">번호</div>
                            <div class="col-4 align-items-center" style="font-weight: bold;">
                                <a th:href="@{${post.category == '공지사항' ? '/notice/' + post.board_idx
                                            : (post.category == '이벤트' ? '/event/' + post.board_idx
                                            : (post.category == '인원모집' ? '/crew/' + post.board_idx
                                            : '/post/' + post.board_idx))}}"
                                   class="text-dark findNoticeTitle"
                                   style="text-decoration: none;"
                                   th:value="${post.title}"
                                   th:text="${post.title}" ></a>
                            </div>
                            <div class="col-6 bdFont" style="text-align: right; font-size: 16px; white-space: nowrap;" th:value="${post.createDate}"
                                 th:text="${post.createDate}" >작성일
                            </div>
                        </div>
                    </li>
                </ul>

                <th:block th:if="${posts.totalPages == 0}">
                    <nav>
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <p>작성한 게시글이 없습니다.</p>
                            </li>
                        </ul>
                    </nav>
                </th:block>

                <!-- 게시글 페이지네이션 -->
                <th:block th:if="${posts.totalPages > 0}">
                <nav>
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${posts.first} ? 'disabled'">
                            <a class="page-link" th:href="@{/myboard(postPage=${posts.number - 1}, commentPage=${commentPage}, reviewPage=${reviewPage})}">이전</a>
                        </li>
                        <li class="page-item" th:each="i : ${#numbers.sequence(0, posts.totalPages - 1)}"
                            th:classappend="${posts.number == i} ? 'active'">
                            <a class="page-link" th:href="@{/myboard(postPage=${i}, commentPage=${commentPage}, reviewPage=${reviewPage})}" th:text="${i + 1}"></a>
                        </li>
                        <li class="page-item" th:classappend="${posts.last} ? 'disabled'">
                            <a class="page-link" th:href="@{/myboard(postPage=${posts.number + 1}, commentPage=${commentPage}, reviewPage=${reviewPage})}">다음</a>
                        </li>
                    </ul>
                </nav>
                </th:block>



            </div>
        </div>
        <div class="col-md-4">
            <div class="post-box mt-5">
                <h5 class="myPageFont">댓글</h5>
                <ul style="list-style: none; padding-left: 0">
                    <li>
                    <div class="container row d-flex justify-content-between border-bottom"
                         style="padding:20px 0;">
                        <div class="col-2 align-items-center bdFont">내용</div>
                        <div class="col-10 bdFont" style="text-align: center;">작성일</div>
                    </div>
                    </li>

                    <li th:each="comment : ${comments}">

                        <div class="container row d-flex justify-content-between"
                             style="padding:20px 0;" th:each="post : ${posts}">
                            <div class="col-2 align-items-center" style="font-weight: bold;">
                                <a th:href="@{${comment.boardReply.category == '공지사항' ? '/notice/' + comment.boardReply.board_idx
                                            : (comment.boardReply.category == '이벤트' ? '/event/' + comment.boardReply.board_idx
                                            : (comment.boardReply.category == '인원모집' ? '/crew/' + comment.boardReply.board_idx
                                            : '/post/' + comment.boardReply.board_idx))}}"

                                   class="text-dark findNoticeTitle"
                                   style="text-decoration: none;"
                                   th:text="${comment.comment}" ></a>
                            </div>

                            <div class="col-10 bdFont text-center" style="font-size: 16px;"
                                   th:text="${comment.createDate}">
                            </div>
                        </div>

                    </li>
                </ul>

                <th:block th:if="${comments.totalPages == 0}">
                    <nav>
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <p>작성한 댓글이 없습니다.</p>
                            </li>
                        </ul>
                    </nav>
                </th:block>

                <!-- 댓글 페이지네이션 -->
                <th:block th:if="${posts.totalPages > 0}">
                <nav>
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${comments.first} ? 'disabled'">
                            <a class="page-link" th:href="@{/myboard(postPage=${postPage}, commentPage=${comments.number - 1}, reviewPage=${reviewPage})}">이전</a>
                        </li>
                        <li class="page-item" th:each="i : ${#numbers.sequence(0, comments.totalPages - 1)}"
                            th:classappend="${comments.number == i} ? 'active'">
                            <a class="page-link" th:href="@{/myboard(postPage=${postPage}, commentPage=${i}, reviewPage=${reviewPage})}" th:text="${i + 1}"></a>
                        </li>
                        <li class="page-item" th:classappend="${comments.last} ? 'disabled'">
                            <a class="page-link" th:href="@{/myboard(postPage=${postPage}, commentPage=${comments.number + 1}, reviewPage=${reviewPage})}">다음</a>
                        </li>
                    </ul>
                </nav>
                </th:block>



            </div>
        </div>

        <div class="col-md-4">
            <div class="post-box mt-5">
                <h5 class="myPageFont">리뷰</h5>
                <ul style="list-style: none; padding-left: 0">

                    <!-- 제목 행 -->
                    <li>
                        <div class="container row d-flex justify-content-between align-items-center border-bottom" style="padding:20px 0;">
                            <div class="col-3 text-center bdFont">별점</div>
                            <div class="col-6 text-center bdFont">내용</div>
                            <div class="col-3 text-center bdFont">작성일</div>
                        </div>
                    </li>

                    <!-- 리뷰 목록 -->
                    <li th:each="review : ${reviews}">
                        <div class="container row d-flex justify-content-between align-items-center border-bottom"
                             style="padding:10px 0; flex-wrap: nowrap;">

                            <!-- 별점 -->
                            <div class="col-3 d-flex justify-content-center">
                        <span th:each="i : ${#numbers.sequence(1, 5)}" style="display: inline-flex;">
                            <i class="fa-star" th:classappend="${i <= review.star} ? 'fas text-warning' : 'far'"></i>
                        </span>
                            </div>

                            <!-- 내용 -->
                            <div class="col-6 text-center" style="font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                <a style="text-decoration: none;"
                                   th:href="@{/place/detail/{id}(id=${review.placeReview.placeIdx})}"
                                   class="text-dark"
                                   th:text="${review.comment}"></a>
                            </div>

                            <!-- 작성일 -->
                            <div class="col-3 text-center" th:text="${review.writeDate}" style="white-space: nowrap;"></div>
                        </div>
                    </li>
                </ul>

                <th:block th:if="${reviews.totalPages == 0}">
                    <nav>
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <p>작성한 리뷰가 없습니다.</p>
                            </li>
                        </ul>
                    </nav>
                </th:block>

                <!-- 리뷰 페이지네이션 -->
                <th:block th:if="${reviews.totalPages > 0}">
                <nav>
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${reviews.first} ? 'disabled'">
                            <a class="page-link" th:href="@{/myboard(postPage=${postPage}, commentPage=${commentPage}, reviewPage=${reviews.number - 1})}">이전</a>
                        </li>
                        <li class="page-item" th:each="i : ${#numbers.sequence(0, reviews.totalPages - 1)}"
                            th:classappend="${reviews.number == i} ? 'active'">
                            <a class="page-link" th:href="@{/myboard(postPage=${postPage}, commentPage=${commentPage}, reviewPage=${i})}" th:text="${i + 1}"></a>
                        </li>
                        <li class="page-item" th:classappend="${reviews.last} ? 'disabled'">
                            <a class="page-link" th:href="@{/myboard(postPage=${postPage}, commentPage=${commentPage}, reviewPage=${reviews.number + 1})}">다음</a>
                        </li>
                    </ul>
                </nav>
                </th:block>


            </div>
        </div>
    </div>
</main>

<div th:replace="~{/layout/footer :: projectfooter}"></div>
</body>
</html>
